<div class='navbar '>
	<ul class='nav'>
		<li ><%= link_to 'Open Order', orders_path %></li>
		<li ><%= link_to 'Booked Orders', booked_orders_path %></li>
		<li ><%= link_to 'Shipped Orders', shipped_orders_path %></li>
	    <li ><%= link_to 'Cancelled Orders', cancel_orders_path %></li>
	</ul>
</div><br/>
