<% preference ||= '' %>
<% colour.each do |var| %>
  <div class='small_select_div <%= "small_select_div_active" if preference == var.id %>' id='<%= var.colour_id %>'><%= var.colour.colour if var.colour %></div>
<% end %>