.nav-collapse ul.nav { padding-top: 10px; }	
div.pull_left { margin-left: -110px; }
table tr td:first-child { padding-left : 15px;  }
div.product_image { display: inline-block; padding-right: 10px;}
div.product_image a { color: #f00f0f;}
td.shift_right { width: 210px; }
label { display: inline-block; margin: 0 15px 0 10px; }
div.child_category { display : none; }
td.dropdown { width : 25%;  }
textarea.detail_textarea {  width : 400px; height : 100px; }
tr.cancel { background-color: #FFCCCC }
tr.cart { background-color: #CCFFCC } 
tr.booked { background-color : #CCCCFF; }
tr.shipped { background-color: #BBBBBB;  }
.hidden { display : none;  }
textarea.product_description { width: 600px; height: 250px; }
ul.nav-tabs li { margin: 15px;  }
div.controls .radio, div.controls .checkbox { display: inline-block; }
div.alert { cursor : pointer; }