<div>
  <dl class  = "dl-horizontal" >      
    <dt>Category Name:</dt>
    <dd><%= @cat.category %></dd>
  </dl>
  <dl class  = "dl-horizontal" >      
    <dt>Brand Name:</dt>
    <dd><%= @brand.brand %></dd>   
  </dl>
  <dl class  = "dl-horizontal" >      
    <% pro = @brand.products & @cat.products %>
    <% unless pro.nil? %>
      <dt>Products</dt>
      <% pro.each do |p|  %>
        <dd><%= p.product %> || <%= p.brand.brand %></dd>
      <% end %>
    <% end %>
  </dl>  
</div>