<div>
  <h4><%= @brand.brand.capitalize %></h4>
  <% pro = @brand.products & @cat.products %>
  <% unless pro.nil? %>
    <% pro.each do |p|  %>
      <div class = 'product_div'>
        <% img = p.images.first ? p.images.first.image.url(:small) : 'no-image.jpg'  %>  
        <%= link_to image_tag(img), product_path(p) %><br/>
        <%= p.product %><br/>
        Best buy: <%= p.price %>
      </div>
    <% end %>
  <% end %>  
</div>