<div>
  <dl class  = "dl-horizontal" >      
    <dt>Category:</dt>
    <dd><%= @category.category %></dd>
  </dl>
  <% brands = @category.brands %>
  <% unless brands.nil? %>
    <dl class  = "dl-horizontal" >      
      <dt>View Products by</dt>
      <% brands.each do |brand| %>
        <dd> <%= link_to brand.brand, category_brand_path(@category,brand)  %> || <%= brand.id %></dd>
      <% end %>
      <dd><%= link_to "View All", show_all_category_brands_path(@category) %></dd>
    </dl>
  <% end %>
</div>