<h2><%= @category.category.capitalize %> </h2>
<div>
  <% products = @category.products %>
  <% if products.empty? %>
    <h3> There are no products in this category </h3>
  <% else %>
    <div class ='category_products'>
      <% products.each do |pro|  %>
        <div class = 'product_div' %>
          <% img = pro.images.first ? pro.images.first.image.url(:small) : 'no_image-small.jpg'  %>  
          <%= link_to image_tag(img), product_path(pro) %><br/>
          <%= link_to pro.brand.brand+' '+pro.product, product_path(pro) %><br/>
          <% unless pro.available? %>
            <b class = 'text-error'>OUT OF STOCK</b><br/>
          <% else %>
            Price: <%= pro.varients.first.price %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>