<%= simple_form_for (@line_item), :html => { :class => 'form-horizontal'} do |f| %>
  <div class = 'pull_left'>
    <%= f.input :quantity, :input_html => { :class => 'input-mini' } %>
  </div>
  <%= f.submit :class => "btn btn-success btn-mini"%>
  <%= link_to 'cancel','',:class => "btn btn-mini btn-inverse" %>
<% end %> 